.container {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  padding: 1.5rem;
}

.container > h1 {
  font-size: 1.5rem;
}

#add-todo {
  display: block;
  margin-bottom: 1rem;
  background-color: lightgreen;
  border: none;
  color: white;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.delete-button {
  background-color: lightcoral;
  color: white;
  border: none;
  cursor: pointer;
}

.finish-button {
  background-color: lightblue;
  color: white;
  border: none;
  cursor: pointer;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  border: solid 1px;
  border-color: lightgray;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
}

.margin {
  margin: 0.5rem;
}